.block{
	display: none;
}

.block.active{
	display:block;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 999999;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
}

.block .loader{
	margin: 20% auto 0 auto;
	width: 128px;
	height: 128px;
	background: url('../img/712.GIF'); 
}

.pointer{
	cursor: pointer;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.divAlert{
	position: fixed;
	top: 10%;
	right: 20%;
	z-index: 9999;
}

span.deleteTranslation{
	z-index: 99999;
	cursor: default;
	font-size: 15px;	
}

.trad-type{
	font-size: 69%;
	color: #ccc;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout-border-right {
	border-left: 0;
	border-right: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}